// Color

$primary-color: #e12486;
$secondary-color: #b3afaf;

// Font

$font-heading: 'bodoniflfbold', 'Times New Roman', serif;
$font-highlight: 'bodoniflfregular', 'Times New Roman', serif;

// Dimension

$card-width: 220px;