.map {
  position: relative;
  background-size: contain;
  background-image: url(../images/map/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 75vmin;
  height: 75vmin;
}

.map__control {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;

  &.zoom-in {
    width: 7vmin;
    height: 7vmin;
    top: 34vmin;
    left: 72vmin;
    background-image: url(../images/map/plus.png);
  }

  &.zoom-out {
    width: 5vmin;
    height: 5vmin;
    top: 40vmin;
    left: 72vmin;
    background-image: url(../images/map/minus.png);
  }
}